.container
  color: #000

  .acts
    display: inline-block
    margin: 15px 0 0
    button 
      margin: 0 .5em

  .icocui
    i
      display: inline-block 
      border-radius: 50%
      background: #e84845
      width: 1.4em
      height: 1.4em
      padding:2px
      color: #fff
      font-size: 11px
      line-height: 1
      font-style: normal
  .icohide
    display: none
  .title
    width: 80px
    height: 30px
    text-align: center
    line-height: 30px
  .showBack
    width: 100px
    height: 100px
    color: #ffffff
    background: red
    text-align: center
    line-height: 100px
