.container
  .order-list
    // padding: 15px
    margin: 15px
    .topTitle
      margin-right: 15px
    .node
      position: relative
      border: 1px solid #999 
      border-radius: 5px
      text-align: center
      padding-top: 5px
      margin-right: 20px
      min-height: 200px
      .title
        border-bottom: 1px solid #999
        padding: 10px
      .btn-p
        position: absolute
        bottom 0
        width: 100%
        box-sizing: border-box
        background: #3B91F7
        color: #FFF
        height: 30px
        padding: 5px
        margin-bottom: 0px
      .btn-button
        height : 30px
        margin-bottom: 10px
        font-size: 14
  .orderTitle
    margin-left:15px
    margin-top: 30px
  .orderState
    border: 1px solid #999 
    border-radius: 5px
    padding: 20px 10px 20px 10px
    margin: 20px
   