.wrap
  display flex
  align-items flex-start
  .tabWrap
    margin-right 20px
    padding 5px 0
    text-align center
    border 1px solid #ccc
    border-radius 5px
    div
      line-height 30px
      cursor pointer
      padding 0 20px
      &.active
        color #fff
        background #1890ff
  .contentWrap
    flex-grow 1
    .delBtn
      position relative
      top -47px
.disable
  color #ccc
