.container
  .card
    border-radius: 5px
    border: 1px solid #dcdcdc 
    overflow hidden
    .card-header
      overflow hidden
      background: rgb(249, 251, 253)
      height: 40px
      line-height: 40px
      padding: 0 10px
      font-weight: bold
  .tab
    margin-bottom:24px
    .selected
      margin-right: 10px
      width:130px
  .listLeft
    overflow: hidden
    margin:30px 0
    .pic
      clear:both
  .reward
    clear: both;
    overflow: scroll;
    height: 332px;
    ul
      &.reward-task, &.region
        &:after
          content: ''
          clear: both
          display: block
        li
          padding: 10px
          text-align: left
          word-break: break-all;
          white-space: normal;
      &.reward-task   
        li
          width: 33.33%
          float: left
      &.region
        border-top:1px solid #dcdcdc
        li
          width: 33.33%
          float: left
  .customer
    height: 100px
    padding: 20px 0
    text-align: center
    b
      color: #1890ff
      font-size: 20px
    .scale
      line-height: 28px
  .couplet
    display:inline-block
    .city
      margin:0 10px 0 16px
.overview-search
  .selected
    margin-right: 10px
  
      















