.container
  :global
    .ant-row
      position relative
      margin-bottom: 5px
  .operate
    position: absolute
    left: -48px
    line-height: 32px
    // margin-top: 6px
    .add, .delete
      width: 20px
      height: 20px
      background: #1890ff
      border-radius: 50%
      display: inline-block
      cursor pointer
      font-size: 18px
      line-height: 18px;
      text-align: center;
      color: #ffffff;
    .add
      margin-right: 2px