.permission
  margin-left 40px
  height 300px
  overflow-y auto
  b
    margin-bottom 20px
.item
  margin-bottom 0
.treeWrap
  overflow auto
  max-height 300px
.modal
  ::global
    .ant-modal
      width 600
