.form-item-1
  :global
    .ant-input-group-addon
      text-align: right
      font-size: 12px
  //   .ant-select-selection
  //     border-bottom-left-radius: 0!important;
  //     border-top-left-radius: 0!important;
.no-border
  border: none 
  background: transparent