.container
  .tags
    margin-bottom 5px
    ul
      display: inline-block
      li
        display: inline-block
        padding: 0 4px
    .tag
      display: inline-block
      height: 26px
      width 50px
      text-align center
      line-height: 26px
      border-radius: 4px
      padding: 0 10px
      border-width: 1px
      border-style: solid 
      background: #FFFFFF
      border-color:#D5D5D5;
      color: #999999;
      box-sizing: content-box;
      cursor: pointer
      user-select: none
      &.active
        background: #DEEDFF;
        border-color: #1890FF;
        color: #1890FF;
        