.container
  width: 930px
  .left
    float left
    width 440px
    margin-right 50px
  .right
    float right
    width 440px
.colse-icon
  position absolute
  right 10px
  top 10px
  font-size 16px
  cursor pointer