:global
  html
    height: 100%
    width: 100%
    body
      font-family: '微软雅黑', 'Microsoft YaHei'
      font-size: 12px
      height: 100%
      width: 100%
      #root
        height: 100%
        width: 100% 
  
  // 模拟按钮
  .likebtn
    display: inline-block
    padding: 5px 8px
    font-size: 12px
    color: #1890ff
    cursor: pointer
    &:hover
      color:#40a9ff

  // 通用hc结构（标题+内容）
  .t-hc
    .hc-h
      padding: 5px
      font-size:14px
      background: rgb(248, 251, 253)
      h2 
        padding: 20px 2em 10px
        font-size:16px
        font-weight: 800
    .hc-c
      padding: 5px
  .t-hc-1
    box-sizing: border-box
    border-radius: 10px
    overflow hidden
    .hc-c
      padding: 0 15px

  // 通用搜索样式
  .t-search-form
    padding:10px 0

  // ant rewrite
  #root .ant-layout-content
    border-radius: 10px
    box-shadow: 0 0 30px rgba(0, 0, 0, .1)
