:global
  // 模拟按钮
  .likebtn
    display: inline-block
    padding: 5px 8px
    font-size: 12px
    color: #1890ff
    cursor: pointer
    &:hover
      color:#40a9ff
  .likebtn-disabled
    color: #666
    &:hover
      color: #666

  // 通用hc结构（标题+内容）
  .t-hc
    .hc-h
      position: relative
      padding: 5px
      font-size:14px
      background: rgb(248, 251, 253)
      h2 
        padding: 20px 2em 10px
        font-size:16px
        font-weight: 800
      .act
        position absolute
        right: 2em
        top: 24px
        .btn
          color: #1890ff
          font-size: 12px
          .ico, i
            display: inline-block
            vertical-align: middle
            width: 1.1em
            height: 1.1em
            font-style: normal
            background: #1890ff
            color: #fff
            line-height: 1em
            text-align: center
    .hc-c
      padding: 5px
  .t-hc-1
    box-sizing: border-box
    border-radius: 10px
    overflow hidden
    .hc-c
      padding: 0 15px

  // 通用搜索样式
  .t-search-form
    padding:10px 0
  
  // 分割线
  .vsplit
    display: inline-block
    height: 20px
    width: 1.6em
    text-align: center
    color: #aaa
    line-height: 20px
    &:after
      content: '|'
