.tabcon
  padding: 20px 20px
.formitem
  padding-right: 20px
  margin-bottom: 20px
.searchcondition
  width: 200px
  margin-right: 10px
.delBtn,.assignBtn
  position: relative
  top: -47px
.assignBtn
  margin-right: 10px