.container

  .customer
    height :100px
    padding :20px 0
    borderRight:'1px solid #dcdcdc'
    text-align :center
    b
      color :#1890ff
      font-size :20px
    .scale
      line-height :28px







