.pane
  margin-top 20px
  display inline-block
  display flex
  .con
    display inline-block
    border-radius 5px
    margin-right 33px
    padding 15px 10px 10px 10px
    background #F8FBFD
    border 1px solid #BADAF8
    width 210px
    height 120px
    flex 5
.small
  font-size 14px
  color: '#333333'
.big
  font-size 24px
  color #1890FF
  margin-bottom 15px
.rank
  display: inline-block
  background: #e84845
  border-radius: 50%
  margin-left: -12px
  margin-right: 8px
  width: 1.5em
  height: 1.5em
  padding:2px
  color: #fff
  font-size: 10px
  line-height: 1
  font-style: normal
  vertical-align: middle
  text-align: center
.ran
  font-size: 10px
  margin-left: -12px
  margin-right: 8px