.board
  margin: 24px 16px
  padding: 0
  overflow: auto
  position: relative
  height: 100%
  border-radius: 0!important
  box-shadow none!important
  p
    margin 0
  .top
    .card
      padding 20px
      width 40%
      background #ffffff
      box-shadow 0 3px 4px 0 rgba(0, 0, 0, 0.10)
      border-radius 6px
      img
        float left
        width 60px
        height 60px
        border-radius 50%
      div
        float left
        margin 10px 0 0 10px
        p.title
          font-family PingFangSC-Regular
          font-size 14px
          color #333333
          letter-spacing 0.45px
        p
          font-family PingFangSC-Regular
          font-size 12px
          color #999999
          letter-spacing 0.35px
    ul
      width 60%
      li
        float left
        background #ffffff
        width 31.33%
        margin-left 2%
        padding 25px
        box-shadow 0 3px 4px 0 rgba(0, 0, 0, 0.10)
        border-radius 6px
        img
          float left
          width 50px
          height 50px
        div
          float left
          margin-left 10px
          width 105px
          text-align center
          margin-top 7px
          p
            font-family PingFangSC-Regular
            font-size 12px
            color #666666
            letter-spacing 0.35px
          p.num
            font-family PingFangSC-Semibold
            font-size 18px
            color #333333
            letter-spacing 0.65px
  .middle
    overflow hidden
    li
      float left
      padding 28px
      width 24.25%
      margin-left 1%
      height 120px
      text-align center
      box-shadow 0 3px 4px 0 rgba(0, 0, 0, 0.10)
      border-radius 4px
      font-family PingFangSC-Regular
      font-size 14px
      color #FFFFFF
      letter-spacing 0.45px
      p.num
        font-size 30px
    li.first
      margin-left 0
      background-image linear-gradient(-90deg, #42DFF1 0%, #1FBBDF 100%)
    li.second
      background-image linear-gradient(-90deg, #FEA4C5 0%, #FC6B93 100%)
    li.third
      background-image linear-gradient(-90deg, #8EDDFD 0%, #43B7FE 100%)
    li.forth
      background-image linear-gradient(-90deg, #F6E181 0%, #FFC33A 100%, #F8BB13 100%)
  .bottom
    background #fff
    .title
      font-family PingFangSC-Regular
      font-size 16px
      color #333333
      letter-spacing 0.65px
    .more
      margin-top 6px
      font-family PingFangSC-Regular
      font-size 12px
      color #999999
      letter-spacing 0.4px
    .rank
      float left
      width 59%
      padding 15px
      background #ffffff
      .tab
        text-align center
        font-family PingFangSC-Regular
        font-size 14px
        color #2A2A2A
        letter-spacing 0.65px
        span
          cursor pointer
      .tab-con
        width 360px
        display block
        margin 5px auto 0
        li
          float left
          width 120px
          text-align center
          .circle
            margin-top -2px
            border-radius 50%
            text-align center
            font-family PingFangSC-Semibold
            color #FFFFFF
            letter-spacing 1.2px
          .name
            margin-top 5px
            font-family PingFangSC-Regular
            font-size 14px
            color #333333
            letter-spacing 0.6px
          .num
            font-family PingFangSC-Regular
            font-size 12px
            color #999999
            letter-spacing 0.45px
        li.first
          img
            width 38px
            height 26px
          .circle
            margin-left 37px
            width 44px
            height 44px
            line-height 44px
            background-image linear-gradient(165deg, #FF9168 0%, #FD5837 98%)
            font-size 24px
        li.no-first
          .box
            height 67px
            padding-top 10px
            img
              width 30px
              height 20px
            .circle
              margin-left 43px
              width 34px
              height 34px
              line-height 34px
              background-image linear-gradient(169deg, #8EDDFD 0%, #43B7FE 99%)
              font-size 20px
        li.second
          .box .circle
            background-image linear-gradient(162deg, #FFE560 0%, #FFC732 98%)
      .tab-table
        padding 0 20px
        overflow auto
        .naver
          display inline-block
          height 20px
          width 20px
          line-height 20px
          border-radius 50%
          background #73CAFF
          color #ffffff
          text-align center
    :global
      .ant-table-thead>tr>th
        padding 10px
      .ant-table-tbody>tr>td
        padding 9px
    .dynamic
      float left
      border-left 10px solid #f5f5f5
      // margin-left 1%
      width 40%
      padding 15px
      background #ffffff
      .more
        cursor pointer
      ul
        margin-top 10px
        li
          padding 10px 0
          border-top 1px solid #e8e8e8
          p
            font-family PingFangSC-Regular
            font-size 12px
            color #999999
            letter-spacing 0.45px
            line-height 22px
            span
              color #333333
            span.company
              color #1890FF
              cursor pointer
