.tel
  cursor: pointer
  width: 14px
  height: 17px
  display: inline-block
  background: url('@/assets/images/tel-active.png') 0 0 / 100% 100% no-repeat
  &.disabled
    background: url('@/assets/images/tel-disabled.png') 0 0 / 100% 100% no-repeat