.container
  border-radius: 8px 8px 0 0 / 8px 8px 0 0
  .top
    border-radius: 8px 8px 0 0 / 8px 8px 0 0
    overflow: hidden
    height: 60px
    background-color: #F8FBFD
    line-height: 60px
    overflow: hidden
    margin: auto 20px
    .title
      font-size: 14px
      font-weight: 500
      float: left
    .right-content
      float: right
  .content
    margin: 20px
.tip
  height: 22px
  line-height: 22px
  margin: 14px 0px
  &:after
    float: left
    width: 5px
    height: 100%
    background-color: #1890FF
    content: ''
    margin-right: 8px
  span
    font-size: 16px
    color: #333
.add
  cursor: pointer
  display: inline-block
  .add-icon
    display inline-block
    width: 16px
    height: 16px
    background: url('@/assets/images/add.png') 0 0 / 100% 100% no-repeat
    cursor: pointer
    position: relative
    top: 4px
    margin-right: 5px
