.container
  border-radius: 8px 8px 0 0 / 8px 8px 0 0
  .top
    border-radius: 8px 8px 0 0 / 8px 8px 0 0
    height: 60px
    background-color: #F8FBFD
    line-height: 60px
    padding: 0 20px
    &:after, &:before
      content: ''
      clean: both
    .title
      font-size: 14px
      font-weight: 500
      float: left
    .right-content
      float: right
  .content
    margin: 20px
.add
  cursor: pointer
  display: inline-block
  .add-icon
    display inline-block
    width: 16px
    height: 16px
    background: url('@/assets/images/add.png') 0 0 / 100% 100% no-repeat
    cursor: pointer
    position: relative
    top: 4px
    margin-right: 5px
