.container
  display: flex
  flex-direction: column
  border-radius: 8px 8px 0 0 / 8px 8px 0 0
  height: 100%
  .top
    border-radius: 8px 8px 0 0 / 8px 8px 0 0
    height: 56px
    background-color: #F8FBFD
    line-height: 56px
    padding: 0 20px
    &:after, &:before
      content: ''
      clean: both
    .title
      font-size: 14px
      font-weight: 500
      float: left
    .right-content
      float: right
  .content
    overflow-y: auto
    overflow-x hidden
    padding: 20px
.add
  cursor: pointer
  display: inline-block;
  &>div
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  &:hover
    color: #1890ff
  .add-icon
    display inline-block
    width: 16px
    height: 16px
    background: url('@/assets/images/add.png') 0 0 / 100% 100% no-repeat
    cursor: pointer
    position: relative
  .text
    margin-left: 5px
.tqad
  position: fixed
  right: 50px
  bottom: 50px
  width: 183px
  height: 200px
  background: url('@/assets/images/tqad.png') 0 0 / 183px 170px no-repeat
  cursor: pointer
  z-index: 999
  transition: all 400ms
  &.fold
    width: 30px
    height: 100px
    right: 0
    background: url('@/assets/images/tqad-2.png') 0 0 / 30px 100px no-repeat
    .close
      display: none
  .close
    width: 20px
    height: 20px
    background: url('@/assets/images/close.png') 0 0 / 20px 20px no-repeat
    position: absolute
    top: -20px
    right: -10px
    cursor: pointer