
.uploader
  text-align: center
  .upload-area
    height: 80px
    img 
      width: 100px
      height: 80px
      cursor pointer
  .title
    margin-top: 10px
    text-align: center
    padding: 2px 4px
    font-size: 12px
    cursor: pointer
    line-height: 14px
    color: rgba(0, 0, 0, 0.65)
