.call-detail
  table
    :global
      .ant-table-expand-icon-th, .ant-table-row-expand-icon-cell
        display: none
      .ant-table-expanded-row
        td
          padding: 0 10px
        &:hover
          td
            background: rgb(241, 243, 244);
        background: rgb(241, 243, 244);
  .close
    font-size: 20px
    float: right
    cursor pointer
    margin: 10px 0 0 20px;