:global
  .ant-table-thead
    font-size: 12px
  .ant-table-tbody
    font-size: 12px
    input 
      font-size: 14px
  .ant-layout-content
    border-radius: 10px
    box-shadow: 0 0 30px rgba(0, 0, 0, .1)
  .ant-select
    font-size 12px