:global
  html
    height: 100%
    width: 100%
    body
      font-family: '微软雅黑', 'Microsoft YaHei'
      font-size: 12px
      height: 100%
      width: 100%
      ul 
        list-style none
        margin: 0
        padding: 0
      #root
        height: 100%
        width: 100%
  .mr10
    margin-right 10px
  .mt40
    margin-top 40px