:global
  html
    height: 100%
    width: 100%
    body
      font-family: '微软雅黑', 'Microsoft YaHei'
      font-size: 12px
      height: 100%
      width: 100%
      #root
        height: 100%
        width: 100% 