:global
  html
    height: 100%
    width: 100%
    body
      font-family: '微软雅黑', 'Microsoft YaHei'
      font-size: 12px
      height: 100%
      width: 100%
      ul 
        list-style none
        margin: 0
        padding: 0
      #root
        height: 100%
        width: 100%
  .ml10
    margin-left 10px
  .mr10
    margin-right 10px
  .mr20
    margin-right: 20px
  .mt10
    margin-top: 10px
  .mt40
    margin-top 40px
  .icon
    cursor pointer
    display: inline-block
    background-repeat: no-repeat
    background-size: 100% 100%
  .mt16
    margin-bottom 16px
  .mt12
    margin-bottom 12px
  .fr
    float right