@import '../modules/common/styles/base'
.container
  height: 100%
  flex-direction: row
  .content
    margin: 24px 16px
    padding: 0
    background: #fff
    overflow hidden
    border-radius: 8px 8px 0 0 / 8px 8px 0 0
    position: relative
    height: 100%