:global
  .pilipa-notification
    z-index 2000
  .pilipa-shrink-button
    align-items: start!important
    margin-top: 10px
    box-sizing: content-box
  .pilipa-auto-complete
    .results
      z-index 1000