.icon
  width: 14px
  height: 14px
  background-size: 100% 100%
  background-position: center
  background-repeat: none
  cursor pointer
  display: inline-block
  &.add
    background-image: url('@/assets/images/add.svg')
  &.import
    background-image: url('@/assets/images/import.svg')
  &.down
    background-image: url('@/assets/images/down.svg')
  &.up
    background-image: url('@/assets/images/up.svg')