.order
  border 1px solid #cdcdcd
  cursor pointer
  padding-bottom 10px
  margin-bottom 20px
  .order-info
    height 40px
    line-height 40px
    background #DEEDFF
    font-size 12px
  .col
    display inline-block
    margin-right 28px
  .note
    height 24px
    width 24px
    line-height 24px
    border-radius 24px
    background #1890FF
    text-align center
    margin-left 15px
    margin-right 5px
    cursor pointer
  .order-bottom
    float right
    font-size 12px
  .order-con
    margin 0 30px
    display inline-block
    color #1890FF
    font-size 12px
  .left
    font-size 24px
    display inline-block
    position absolute
    left 0
    margin-top 20px
    cursor pointer
    margin-left 20px
  .right
    font-size 24px
    display inline-block
    position absolute
    right 0
    margin-top 20px
    cursor pointer
    margin-right 20px
.black
  color #1890FF
.marg
  margin 20px 40px
  overflow hidden
.con
  display inline-block
  margin-right 24px
  width 130px
  height 80px
  border 1px solid #cdcdcd
  text-align center
  padding-top 12px
  .big
    font-size 14px
    margin-right 8px
.input-width
  width: 150px
.order:hover
  border 1px solid #1890FF
  box-shadow: 3px 3px 1px #DEEDFF
.colse-icon
  position absolute
  right 10px
  top 10px
  font-size 16px
  cursor pointer
