.gray
  color #666
.black
  color #333
.marg
  margin 20px 0
.con
  position relative
  margin-right 24px
  width 150px
  height 80px
  padding 15px 0 0 10px
  border 1px solid #CDCDCD
  box-shadow 1px 2px 4px 0
  .small
    font-size 12px
  .big
    font-size 20px
    margin-right 8px
  .line
    width 45px
    height 2px
    background #666
    position absolute
    bottom 24px
    right 1px  
