.reason
  width 500px
  :global
    .ant-tag-checkable
      border: 1px solid #cdcdcd
      margin-bottom 10px
.note
  text-align center
  color #F9B91F
  margin-bottom 10px
  .note-icon1
    cursor pointer
    width: 20px
    height: 20px
    background: url('@/assets/images/note1.png') 100% 100% no-repeat
    display: inline-block
    vertical-align: bottom;
  .note-icon2
    cursor pointer
    width 20px
    height 20px
    background url('@/assets/images/note2.png') 100% 100% no-repeat
    display inline-block
    vertical-align bottom
.red-point
  display inline-block
  width 4px
  height 4px
  border-radius 4px
  background #E84845
  margin-bottom 3px
  margin-right 2px
:global
  .btn-position
    position relative
    bottom 48px