.container
  color: #000

  .acts
    display: inline-block
    margin: 15px 0 0
    button 
      margin: 0 .5em

  .icocui
    i
      display: inline-block 
      border-radius: 50%
      background: #e84845
      width: 1.4em
      height: 1.4em
      padding:2px
      color: #fff
      font-size: 11px
      line-height: 1
      font-style: normal
  .icohide
    display: none
  
:global
  .ant-modal-header
    padding:10px
    font-size: 14px
    font-weight: 700
    .ant-modal-title
      font-size: 14px
  .ant-modal-body
    padding:10px 15px
