.step2
  width: 500px
  margin: 0 auto
  margin-top 20px
  position relative
  :global
    .ant-upload.ant-upload-drag
      border none
      background none
    .ant-upload-list
      text-align center
    .anticon-paper-clip
      left 170px
  .down
    position absolute
    top 16px
    right 130px