.menu-icon
  width: 14px
  height: 14px
  display: inline-block
  background-size: 100% 100%
  margin-right: 10px
  vertical-align: middle
  &.menu-icon-bussiness
    background: url('@/assets/images/menu-icon-bussiness.png') center center no-repeat 
  &.menu-icon-open
    background: url('@/assets/images/menu-icon-open.png') center center no-repeat 