.menu-icon
  width: 14px
  height: 14px
  display: inline-block
  background-size: 100% 100%
  background-repeat: no-repeat;
  background-position: center center
  margin-right: 10px
  vertical-align: middle
  &.menu-icon-bussiness
    background: url('@/assets/images/menu-icon-bussiness.png')
  &.menu-icon-open
    background: url('@/assets/images/menu-icon-open.png')
  &.menu-icon-customer
    background: url('@/assets/images/menu-icon-customer.png')
  &.menu-icon-sign
    background: url('@/assets/images/menu-icon-sign.png')
  &.menu-icon-set
    background: url('@/assets/images/menu-icon-set.png')
  &.menu-icon-center
    background: url('@/assets/images/menu-icon-center.png')
  &.menu-icon-agency
    background: url('@/assets/images/menu-icon-agency.png')
  &.menu-icon-user
    background: url('@/assets/images/menu-icon-user.png')
  &.menu-icon-worker
    background: url('@/assets/images/menu-icon-worker.png')
  &.menu-icon-message
    background: url('@/assets/images/menu-icon-message.png')
  &.menu-icon-task
    background: url('@/assets/images/menu-icon-task.png')
  &.menu-icon-tasktpl
    background: url('@/assets/images/menu-icon-tasktpl.png')
  &.menu-icon-perform
    background: url('@/assets/images/menu-icon-perform.png')
  &.menu-icon-data
    background: url('@/assets/images/menu-icon-data.png')