.content
  width 400px
  height 180px
  padding 16px
  background #F6FAFF
  border 1px dashed #1890FF
  margin-left 25px
.info
  margin-top 24px
  color #1890FF
.record
  padding 12px
  div
    padding 5px 0 0
  span
    margin-right 5px
  .tag
    display inline-block
    width 65px
    height 26px
    border 1px solid #D5D5D5
    border-radius 4px
    color #999
    text-align center
    line-height 26px