.container
  :global
    .ant-form-item
      margin-bottom: 5px
    input::-webkit-outer-spin-button
    input::-webkit-inner-spin-button {
       -webkit-appearance: none !important
    }
.uploader
  display: inline-block
  img 
    width: 28px
    height: 28px
    cursor pointer
  .upload-btn
    display: inline-block
    padding: 2px 4px
    border-radius: 4px
    font-size: 12px
    cursor: pointer
    border: 1px solid #d9d9d9
    line-height: 14px
    color: rgba(0, 0, 0, 0.65)
.company-search
  position relative
  ul
    list-style none
    position: absolute
    z-index: 100;
    top: 40px
    background: #FFFFFF;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
    li
      width: 100%
      cursor pointer
      transition: all .3s;
      line-height: 22px;
      padding: 5px 12px;
      margin: 0
      &:hover
        background-color: #e6f7ff;