.container
  :global
    i.fa
      color: #ffc53d
      cursor: pointer
.region
  :global
    .ant-select-selection__rendered
      ul
        li
          padding: 0
          border: none 
          background: none