.region
  &>label 
    margin-right: 2px
  :global
    .ant-select-selection__rendered
      ul
        li
          padding: 0
          border: none 
          background: none
          input 
            width: 0
            // height: 0
            // line-height: 0
            &::input-placeholder
              color: transparent
    .ant-select-search__field
      line-height: 24px;
      height: 24px;
  .tag-placeholder
    width: 85px
    display: inline-block
    cursor pointer