.profile
  overflow hidden
  .left
    width: 120px
    float: left
    .picture
      width: 100px
      height: 72px
      background: url('@/assets/images/profile.png')
  .right
    float: left
    .title
      font-size: 16px
      color: #000000
      font-weight: bold
      margin-bottom: 2px
    p
      color: #666666
      margin: 0
      padding: 4px 0px
      label 
        margin-right: 4px
  .verified
    cursor pointer
    width: 20px
    height: 20px
    background: url('@/assets/images/verified.png') 100% 100% no-repeat
    display: inline-block
    vertical-align: bottom;
  .telphone
    cursor pointer
    width: 20px
    height: 20px
    background: url('@/assets/images/telphone.png') 100% 100% no-repeat
    display: inline-block
    vertical-align: bottom;
  .tyc
    cursor pointer
    width: 20px
    height: 20px
    background: url('@/assets/images/tyc.png') 100% 100% no-repeat
    display: inline-block
    vertical-align: bottom;