.profile
  position relative
  .left
    position absolute
    width: 120px
    top: 0
    bottom: 0
    left: 0
    .picture
      width: 100px
      height: 72px
      background: url('@/assets/images/profile.png')
  .right
    margin-left: 120px
    .title
      font-size: 16px
      color: #000000
      font-weight: bold
      margin-bottom: 2px
      min-height: 24px
    p
      color: #666666
      margin: 0
      padding: 4px 0px
      label 
        margin-right: 4px
  .verified, .telphone, .tyc
    width: 18px
    height: 18px
    display: inline-block
    margin-left: 10px
    vertical-align: sub;
  .verified
    width: 16px
    height: 16px
    background: url('@/assets/images/verified.png') center center / 100% 100% no-repeat
  .telphone
    cursor pointer
    background: url('@/assets/images/telphone.png') center center / 100% 100% no-repeat
  .tyc
    cursor pointer
    background: url('@/assets/images/tyc.png') center center / 100% 100% no-repeat