.wrap
  .input
    margin-bottom 0
  .content
    max-height 400px
    overflow auto
    .contentWrap
      .title
        line-height 40px
      .contentBox
        padding 5px
        background #f1f1f1
        border 1px solid #eee
        display flex
        flex-wrap wrap
        .selectAll
          width 100%
          margin-bottom 5px
          font-weight bold
        .item
          width 25%
          margin-bottom 5px
          .itemTitle
            font-weight bold

